<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
        <title>{{ site_title }} | {{ meta.description }}</title>
        <link rel="stylesheet" href="{{ theme_url }}/assets/css/main.css"/>
        <link rel='stylesheet' href='{{ theme_url }}/assets/css/fullcalendar.css'/>
        <link
        href="///fast.fonts.net/cssapi/2c30dd06-0d07-4fe1-8125-9a59a81a1d69.css" rel="stylesheet" type="text/css">
        <!--[if lte IE 9]><link rel="stylesheet" href="{{ theme_url }}/assets/css/ie9.css" /><![endif]-->
        <noscript>
            <link rel="stylesheet" href="{{ theme_url }}/assets/css/noscript.css"/></noscript>
    </head>

    <body>

        <!-- Wrapper -->
        <div
            id="wrapper">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <img src="images/header_blue.svg">
                </div>
                <div class="content">
                    <div class="inner">
                        <h1>{{ site_title }}</h1>
                        <p>{{ meta.description }}</p>
                    </div>
                </div>
                <nav>
                    <ul>
                        {% for page in pages|sort_by([ 'meta', 'nav' ]) %}
                            {% if page.meta.template == "single" %}
                                <li>
                                    <a href="#{{ page.id }}">{{ page.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <!-- Main -->
            <div id="main">
                {% for page in pages|sort_by([ 'meta', 'nav' ]) %}
                    {% if page.meta.template == "single" %}
                        <!-- Intro -->
                        <article id="{{ page.id }}">
                            <h2 class="major">{{ page.title }}</h2>
                            <p>{{ page.id|content }}</p>
                        </article>
                    {% endif %}
                {% endfor %}

                <!-- Contact -->
                <article id="contact">
                    <h2 class="major">Contact</h2>
                    <form action="https://formspree.io/dalenaxtran@gmail.com" method="POST">
                        <div class="field half first">
                            <label for="name">Name</label>
                            <input id="name" name="name" required type="text"/>
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input name="_replyto" placeholder="email" required type="text"/>
                        </div>

                        <div class="field">
                            <label for="subject">Subject</label>
                            <select name="_subject" required>
                                <option disabled hidden selected value="">Choose a Subject Line</option>
                                <option name="subject" value="event">Schedule / Event Request</option>
                                <option name="subject" value="checkout">Checkout Materials Request</option>
                                <option name="subject" value="order">New Material Request</option>
                                <option name="subject" value="issue">Report an Issue</option>
                                <option name="subject" value="general">Other Inquiry</option>
                            </select>
                        </br>
                        <label for="message">Message</label>
                        <textarea id="message" name="message" required rows="4"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input class="special" type="submit" value="Send Message"/></li>
                        <li><input type="reset" value="Reset"/></li>
                    </ul>
                </form>
                <ul class="icons">
                    {% for link,icon in meta.social %}
                        <li>
                            <a href="{{ link }}" class="icon fa-{{ icon }}">
                                <span class="label">{{ icon }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </article>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy;
                {{ site_title }}
                2019</p>
        </footer>
    </body>
</html></div><!-- BG --><div id="bg"></div><!-- Scripts --><script src="{{ theme_url }}/assets/js/jquery.min.js"></script><script src="{{ theme_url }}/assets/js/skel.min.js"></script><script src="{{ theme_url }}/assets/js/util.js"></script><script src="{{ theme_url }}/assets/js/main.js"></script><script src='{{ theme_url }}/assets/js/jquery.min.js'></script><script src='{{ theme_url }}/assets/js/moment.min.js'></script><script src='{{ theme_url }}/assets/js/fullcalendar.js'></script><script src='{{ theme_url }}/assets/js/gcal.js'></script><script src='{{ theme_url }}/assets/js/marscalendar.js'></script></body></html>
